<!DOCTYPE html>
<html>
<head>
  <title>DeskPoll</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav id="header" class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<p class="navbar-brand">Desk Poll</p>
		<ul class="nav navbar-nav navbar-right">
			<% if current_user.nil? %>
				<li><%= link_to "Sign in", new_session_url %></li>
				<li><%= link_to "Sign up", new_user_url %></li>
			<% else %>
			  <li class="navbar-text"><%= current_user.email %></li>
			  <li><%= button_to "Logout", session_url, method: :delete, class: "btn navbar-btn btn-default logout-btn" %></li>
			<% end %>
		</ul>
	</div>
</nav>

<%= yield %>

</body>
</html>
